---
import { Image } from "astro:assets";
import some1 from "../assets/images/some1.webp";
import some2 from "../assets/images/some2.webp";
import some3 from "../assets/images/some3.webp";
import some4 from "../assets/images/some4.webp";
import some5 from "../assets/images/some5.webp";
import some6 from "../assets/images/some6.webp";
import some7 from "../assets/images/some7.webp";
import some8 from "../assets/images/some8.webp";
import some9 from "../assets/images/some9.webp";
import some10 from "../assets/images/some10.webp";
---

<div class="mx-mobile lg:mx-desktop pt-64 pb-108">
  <h1 class="font-code text-h1Mobile md:text-h1 pb-8">FØLG MED PÅ</h1>
  <h2 class="text-subheadingMobile md:text-subheading pb-32">
    <a href="https://www.instagram.com" target="_blank" class="border-b-small border-Black-500">Instagram</a> og
    <a href="https://www.tiktok.com" target="_blank" class="border-b-small border-Black-500">TikTok</a>
  </h2>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-12 pt-24">
    <Image src={some1} alt="Youth Travelling" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some2} alt="Image 2" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some3} alt="Image 3" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some4} alt="Image 4" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some5} alt="Image 5" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some6} alt="Image 6" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some7} alt="Image 7" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some8} alt="Image 8" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some9} alt="Image 9" class="rounded-large w-full h-80 md:h-128 object-cover" />

    <Image src={some10} alt="Image 10" class="rounded-large w-full h-80 md:h-128 object-cover" />
  </div>
</div>
